body{
   background-color: lightblue;
  
}
header{
    text-align: center;
}
hr{
    border: black solid 3px;
    line-break: 50%;
}
#image_div{
    height: 100%;
    width: auto;
    border: black solid;
}
footer{
    table-layout: horizontal;
    position: absolute;
 
    border: solid black ;
    height: 20%;
    width: 98.5%;
    margin-top: 10px;
}

.image_n
{
    height: 70%;
    width: 25%;
    border: solid;
    text-align: center;
    align-content: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 10px;
}
#input_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
#image_button{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100px;
    border-radius: 20px;
       
}
button:hover{
    background-color: red;
    width: 100px;
    height: 100px;
    size: 1000px;
    
}
button:active{
    background-color: green;
}
#output_box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 1000px;
    border-radius: 10px;
    background-color: lightblue;
    
    
}